

table, td, form, thead, th {
  border: solid rgb(180, 117, 16);
  background-color: brown;
}

header h1{
  font-family: 'Rubik 80s Fade', cursive;
}

header h2, h3, h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
  display: flex;
  left: 0%;
  right: 40%;
  color: blue;
}

body {
  background-color: rgb(126, 118, 128);
}

fieldset, table {
  font-family: Arial, Helvetica, sans-serif;
}






